button {
	white-space: nowrap;
}

html { 
	background: url("/client/background.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	overflow: hidden;
	display: block;
}

#ctx {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	border:1px solid #000000;
z-index:-1;
}

#uiDiv {
	background-color: rgba(255,255,255,0.6);
	overflow-y: hidden;
	text-align: center;
	position: absolute;
	z-index: 10;
	border:1px solid #000000;
	bottom: 0;
	right: 0;
	left: 0;
	height: 60px;
	width: 100%;
	transition: 1.5s;
}

#overlay {
	overflow-y: hidden;
	position: absolute;
	z-index: 9;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#scoreDiv {
	overflow-y: hidden;
	text-align: center;
	position: absolute;
	z-index: 2;
	position: absolute;
	top:10px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: black;
	font-size: 150%;
}

#death {
	background-color: rgba(0,0,0,0.0);
	text-align: center;
	z-index: 2;
	position: absolute;
	margin: auto;
	top: 70%;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#dead {
	text-align: center;
	font-size: 500%;
	color: #AA0000;
}

#countdown {
	text-align: center;
	font-size: 150%;
}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currentlysupported by Chrome and Opera */
}